<!DOCTYPE html>
<html>
    <head>
    <title>The Bloggers Den</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="./public/css/style.css" />
    </head>
<body>
<header>

<div class= "large-font">The Blogger's Den</div>
</header>

<nav class="header-nav">
        <a href="#Home">Home</a>
        <a href="#Dashboard">Dashboard</a>
        <a href="#Login">Login</a>
        <a href="#Logout">Logout</a>
</nav>
<main>

{{{body}}}

</main>
    <script src="public/js/homepage.js"></script>
</body>
</html>