header, .project {
  border: 1px solid #ccc;
  margin-bottom: 50px;
}


nav a{
  padding: 10px;
  border : .4px solid;
  background-color: orange;
  border-radius: 30px;
}
.post_title{
  font-size: 20px;
  background-color: rgb(238, 161, 53);
  margin-bottom: -5px;
}
.content_date{
  float: right;
  margin-right: 100px;
  font-size: 20px;
}
.content_data{
  padding: 20px;
  background-color: lightgoldenrodyellow;
  font-size: 16px;
}
.comment{
  background-color: #fcd488;
  margin-bottom: -20px;
  padding-left: 20px;
}